<div class="flex mx-auto py-20 h-max">
  <form class="experiment flex flex-col mx-auto">
    <input
      type="text"
      id="L3"
      name="plain-text"
      class="input input-bordered input-info w-full max-w-xs text-center"
    />
    <button class="btn btn-info Calculate my-3" type="button" (click)="test()">
      Calculate
    </button>
    <input
      type="text"
      name="answer-2"
      id="answer-2"
      class="second input input-bordered input-info w-full max-w-xs text-center"
    />
  </form>
</div>
